<?xml version="1.0"?>
<config>
    <modules>
        <Economix_CustomerGroupPaymentMethod>
            <version>0.1.0</version>
        </Economix_CustomerGroupPaymentMethod>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <customer_group_edit_form>Economix_CustomerGroupPaymentMethod_Block_Adminhtml_Customer_Group_Edit_Form</customer_group_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <economix_customergrouppaymentmethod>
                <class>Economix_CustomerGroupPaymentMethod_Model</class>
                <resourceModel>economix_customergrouppaymentmethod_resource</resourceModel>
            </economix_customergrouppaymentmethod>
            <economix_customergrouppaymentmethod_resource>
                <class>Economix_CustomerGroupPaymentMethod_Model_Resource</class>
                <entities>
                    <economix_customergroup_paymentmethod>
                        <table>economix_customergroup_paymentmethod</table>
                    </economix_customergroup_paymentmethod>
                </entities>
            </economix_customergrouppaymentmethod_resource>
        </models>
        <helpers>
            <economix_customergrouppaymentmethod>
                <class>Economix_CustomerGroupPaymentMethod_Helper</class>
            </economix_customergrouppaymentmethod>
        </helpers>
        <resources>
            <economix_customergrouppaymentmethod_setup>
                <setup>
                    <module>Economix_CustomerGroupPaymentMethod</module>
                    <class>Economix_CustomerGroupPaymentMethod_Model_Resource_Setup</class>
                </setup>
            </economix_customergrouppaymentmethod_setup>
        </resources>
        <events>
            <customer_group_save_before>
                <observers>
                    <store_default_disable_flag_to_customer_group>
                        <type>singleton</type>
                        <class>economix_customergrouppaymentmethod/observer</class>
                        <method>storeDefaultDisableFlagToCustomerGroup</method>
                    </store_default_disable_flag_to_customer_group>
                </observers>
            </customer_group_save_before>
            <customer_group_save_after>
                <observers>
                    <store_payment_methods_to_customer_group>
                        <type>singleton</type>
                        <class>economix_customergrouppaymentmethod/observer</class>
                        <method>storePaymentMethodsToCustomerGroup</method>
                    </store_payment_methods_to_customer_group>
                </observers>
            </customer_group_save_after>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Economix_CustomerGroupPaymentMethod>
                    <files>
                        <default>Economix_CustomerGroupPaymentMethod.csv</default>
                    </files>
                </Economix_CustomerGroupPaymentMethod>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events>
            <payment_method_is_active>
                <observers>
                    <filter_payment_method>
                        <type>singleton</type>
                        <class>economix_customergrouppaymentmethod/observer</class>
                        <method>filterPaymentMethod</method>
                    </filter_payment_method>
                </observers>
            </payment_method_is_active>
        </events>
    </frontend>
</config>